html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size:28px;
    border: 1px solid black;
    border-radius: 3px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 480px;
    height: 600px;
    gap: 10px;
    background-color: rgb(15, 14, 14);
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.result {
    background-color: gray;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: end;
    font-size: 71px;
}

.equals {
    grid-column-start: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: rgb(202, 151, 56);
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.clear {
    background-color: rgb(85, 71, 204);
}

.blue-button {
    background-color: rgb(156, 194, 224);
}

.pink-button {
    background-color: rgb(202, 132, 132);
}

button:active {
    opacity: 0.8;
}